/* 프로젝트 내의 CSS 파일 또는 Vue 컴포넌트의 <style> 섹션 */
@font-face {
    font-family: 'GothicA1-Thin';
    src: url('../font/GothicA1-Thin.ttf') format('truetype');
    font-weight: 100; /* Thin 스타일의 폰트를 위한 설정 */
  }
  
  @font-face {
    font-family: 'GothicA1-Regular';
    src: url('../font/GothicA1-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular 스타일의 폰트를 위한 설정 */
  }

  @font-face {
    font-family: 'GothicA1-SemiBold';
    src: url('../font/GothicA1-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Bold 스타일의 폰트를 위한 설정 */
  }
  
  @font-face {
    font-family: 'GothicA1-Bold';
    src: url('../font/GothicA1-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold 스타일의 폰트를 위한 설정 */
  }

  @font-face {
    font-family: 'GothicA1-ExtraBold';
    src: url('../font/GothicA1-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Bold 스타일의 폰트를 위한 설정 */
  }

  